<!DOCTYPE html>
<html lang="en" class="backgroundColor">
  <head>
  
  	<% include partials/head.ejs %>
    	
  </head>
  <body>
  	<% include partials/header.ejs%>
    <div class="backgroundColor">
  	  <div id="jumbo-image-notFound">
  	  	<h1 id="jumbo-title"><%= title%></h1>
  	  </div>

      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %> 
    </div>
  </body>
</html>