#jumbo-image {
	height: 550px;
	width: 100%
	background-color: #444;
	background-image: url('../images/harry.jpg');
	background-size: cover;

}
#jumbo-image #jumbo-title {

    position: absolute;
  background-color: #fff;
  padding: 10px 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);


  bottom: 0;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.20em;
  letter-spacing: 0.4px;
}

#posters-wrapper {
	padding-top: 75px;
}

.poster {
  width: 25%;
  margin-right: 4%;
  display: inline-block;
  position: relative;
}

.navbar-fixed-top {

	margin-right: 28px;
}

.navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 12px;
}

.dropdown.open .dropdown-menu li a {
  transition: 0.5s ease-in-out;
}

.dropdown.open .dropdown-menu li a:hover {
  color: #fff;
}

.navbar-nav > li:first-child {
  margin-right: 25px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
  background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
  background-color: rgba(0,0,0,0.5);
}

.poster-info-overlay {
  position: absolute;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  padding: 30px 15px;
}
.poster-info-overlay h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #fff;
  margin: 0px;
}
.poster-info-overlay h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.3px;
  color: #fff;
  margin: 0px;
  margin-top: 15px;
}
.poster:hover .poster-info-overlay {
  opacity: 1;
}

#jumbo-image-show{
  height: 550px;
  width: 100%;
  background-color: #444;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#jumbo-image-show #jumbo-title {

    position: absolute;
  background-color: #fff;
  padding: 10px 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);


  bottom: 0;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.20em;
  letter-spacing: 0.4px;
}
